/* General CSS Rules + fix */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  body {
    min-height: 100vh;
    background-color: #B5DAEE;
    font-family: sans-serif;
  }
  
  .content {
    padding: 60px 0;
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
  }
  
  .section {
    padding: 0 40px;
  }
  
  /* Media query for screens with maximum width of 400px */
  @media only screen and (max-width: 400px) {
    .section {
      padding: 0 10px;
    }
  }
  
